## Data Preprocessing
> Here we ectract the data and clean them.

In [2]:
import pandas as pd
import numpy as np

transactions = pd.read_csv("personal_transactions.csv")
budget = pd.read_csv("Budget.csv")

In [3]:
budget

                  Category  Budget
0           Alcohol & Bars      50
1           Auto Insurance      75
2             Coffee Shops      15
3   Electronics & Software       0
4            Entertainment      25
5                Fast Food      15
6               Gas & Fuel      75
7                Groceries     150
8                  Haircut      30
9         Home Improvement     250
10                Internet      75
11            Mobile Phone      65
12         Mortgage & Rent    1100
13           Movies & DVDs       0
14                   Music      11
15             Restaurants     150
16                Shopping     100
17              Television      15
18               Utilities     150

In [56]:
 amount_per_cat = transactions[["Amount", "Category", "Date"]]
amount_per_cat['Date']

0      01/01/2018
1      01/02/2018
2      01/02/2018
3      01/03/2018
4      01/04/2018
          ...
801    09/27/2019
802    09/28/2019
803    09/28/2019
804    09/30/2019
805    09/30/2019
Name: Date, Length: 806, dtype: object

9